# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# C/C++ Build Artifacts
*.obj
*.sys
*.exe
*.dll
*.lib
*.pdb
*.ilk
*.exp

# OS Specific
Thumbs.db
Desktop.ini
.DS_Store

# IDEs
.vscode/
.idea/

# Temp
tmp/
*.log
